
/*App*/
.App {
    display: flex;
    flex-direction: column;
    padding: 0 10rem;

}
.main{
    /*width: 90%;*/
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    gap: 7rem;

}

/*header*/

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color--secendery);
    /*width: 90%;*/
    height: 7rem;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;

}

.header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header #search{
    background-color: var(--color--third);
    height: 4rem;
    width: 30rem;
    border-radius: 1rem;
    color: var(--color--text);
    padding: 1rem;
}

#search::placeholder{
    color: var(--color--text);
}

.header .favorites{
    display: flex;
    position: relative;
}

.header .heart-icon{
    width: 4rem;
    height: 4rem;
    color: darkred;

}

.header .favorites span{
    position: absolute;
    top: 0;
    right: -1px;
    color: var(--color--text);
    background-color: darkred;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
}


/*charactersList------------------------------------*/

.charactersList{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55rem;
    height: 10rem;
    background-color: var(--color--primary);
    padding: 1rem;
    border-radius: 1rem;
    gap: 1rem;
    cursor: pointer;

}

.card__content{
    display: flex;
    gap: 1rem;
}

.card img{
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
}

.card__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.card__icon{
    width: 3rem;
    height: 3rem;
    color: darkred;
}

/*CharacterDetails------------------------------------*/

.details-episodes{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.CharactersDetails{
    display: flex;
    background-color: var(--color--primary);
    border-radius: 1rem;
}

.CharactersDetails img{
    width: 22rem;
    height: 21rem;
    border-radius: 1rem;
}


.details__description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}

.details__description p{
    font-size: 1.7rem;
}

.details__description button{
    background-color: var(--color--third);
    color: var(--color--text);
    width: 15rem;
    height: 4rem;
    border-radius: 1rem;
    font-size: 1.5rem;
}

.details__location :first-child{
    color: #475569;
    font-size: 1.5rem;
}


/*episodes------------------------------------*/

.episodes{
    background-color: var(--color--primary);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
}

.episode__cards{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

}

.episodes__title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.episode__icon{
    width: 4rem;
    height: 4rem;
    color: var(--color--text);
    transition: all 1s ease;
}

.rotate{
    rotate: 180deg;
}

.episode__card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.episode__card span , .episode__card p{
    font-size: 1.3rem;
}

.episode__date{
    padding: 0.7rem;
    background-color: var(--color--third);
    border-radius: 1rem;
}


/*Modal*/

.modal{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10rem;
}

.backdrop{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 20, 73, 0.5);
    backdrop-filter: blur(10px);

}

.modal__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color--primary);
    width: 67rem;
    height: 30rem;
    border-radius: 1rem;
    z-index: 2;
    box-shadow: var(--color--primary) 0 0 30px  ;

}

.modal__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid #bdbdbd;
}

.modal__header button{
    width: 5rem;
    color: red;
}

.hidden{
    display: none;
}



